@charset "UTF-8";

body{
    background-color: #fab06ba8;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #7A5635;
}

#principal{
    text-align: center;
    background-color: #7A5635;
    color: #fff;
}

h2{
    color: #BD8551;
}

.basico{
    color: #4dbe5c;
}

.intermediario{
    color: #bcbe4d;
}
.avancado{
    color: #be4d4d;
}